@model MyPortfolio.Models.TblCategories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3>Kategori Ekle Sayfası</h3>

<form method="post">
    <label>Kagetori Adı </label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />


    <button class="btn btn-outline-primary">Kaydet</button>

</form>