﻿@model MyPortfolio.Models.TblSocialMedias
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Sosyal Medya Güncelleme Sayfası</h3>
@using (Html.BeginForm("UpdateSocialMedia", "SocialMedia", FormMethod.Post))
{
    <input type="hidden" name="SocialMediaId" value="@Model.SocialMediaId" />
    <label>Sosyal Medya Adı</label>
    <input type="text" name="SocialMediaName" class="form-control" value="@Model.SocialMediaName" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Url" class="form-control" value="@Model.Url" />
    <br />
    <label>İkon</label>
    <input type="text" name="Icon" class="form-control" value="@Model.Icon" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
}